@import '../../styles/mixins';

.save-btn {
  visibility: hidden;

  &.editing {
    visibility: visible;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:before {
    @include icon('~./images/save.svg', 20px);
  }
}
