@import '../../styles/variables';

.text-input {
  input {
    border: none;
    border-bottom: 1px solid $BLACK;
    background-color: $PENSIVE;
    outline: none;
    font-size: 1.8rem;
    padding: 10px 0 0;
  }

  input:disabled {
    border-bottom: 1px dashed $DISABLED;
  }
}
